In [1]:
import numpy as np
import matplotlib.image as img
import matplotlib.pyplot as plt
import pandas as pd

In [2]:

img = img.imread('milfordtest.jpg')
# print(img)
# print(img.shape)
color, count = np.unique(img.reshape(-1, img.shape[-1]), axis=0, return_counts=True)

In [9]:
count.shape

(251162,)

In [25]:
color

array([[  0,   1,   0],
       [  0,   1,   2],
       [  0,  10,  15],
       ...,
       [255, 255, 251],
       [255, 255, 253],
       [255, 255, 255]], dtype=uint8)

In [28]:

color_df = pd.DataFrame(color, columns=['R','G','B'])

   R   G   B
0  0   1   0
1  0   1   2
2  0  10  15
3  0  16  57
4  0  18  56

In [54]:
color_df['count'] = count
color_df.sort_values(by='count', ascending=False).head(10)

          R    G    B  count
251161  255  255  255   3009
243826  254  204  131   1147
242586  253  238  195    949
244520  254  249  220    947
703       1   80  113    929
243803  254  203  114    902
248917  255  211  146    893
248356  255  203  128    863
244398  254  239  196    858
421       0  106  148    849

In [33]:
def rgb_to_hex(r,g,b):
    return ('{:02X}' *3).format(r,g,b)

In [45]:
color_df.iloc[255]['B']

115

In [38]:
rgb_to_hex(color_df.iloc[0]['R'],color_df.iloc[0]['G'],color_df.iloc[0]['B'])

'000100'

In [48]:
rgb_to_hex(color_df.iloc[251161]['R'], color_df.iloc[251161]['G'], color_df.iloc[251161]['B'])

'FFFFFF'

In [55]:
top_ten = color_df.sort_values(by='count', ascending=False).head(10)
print(top_ten)

          R    G    B  count
251161  255  255  255   3009
243826  254  204  131   1147
242586  253  238  195    949
244520  254  249  220    947
703       1   80  113    929
243803  254  203  114    902
248917  255  211  146    893
248356  255  203  128    863
244398  254  239  196    858
421       0  106  148    849

In [64]:
colors = {}
for i in top_ten.index.values:
    R = top_ten.loc[i]['R']
    G = top_ten.loc[i]['G']
    B = top_ten.loc[i]['B']
    color_string = f'{R}, {G}, {B}' 
    colors[color_string] = rgb_to_hex(R, G, B)
    
colors

{'255, 255, 255': 'FFFFFF',
 '254, 204, 131': 'FECC83',
 '253, 238, 195': 'FDEEC3',
 '254, 249, 220': 'FEF9DC',
 '1, 80, 113': '015071',
 '254, 203, 114': 'FECB72',
 '255, 211, 146': 'FFD392',
 '255, 203, 128': 'FFCB80',
 '254, 239, 196': 'FEEFC4',
 '0, 106, 148': '006A94'}

In [60]:
top_ten.index.values

array([251161, 243826, 242586, 244520,    703, 243803, 248917, 248356,
       244398,    421], dtype=int64)

In [63]:
top_ten.loc[251161]

R         255
G         255
B         255
count    3009
Name: 251161, dtype: int64