In [1]:
import numpy as np
import matplotlib.image as img
import matplotlib.pyplot as plt
import pandas as pd

In [2]:

img = img.imread('milfordtest.jpg')
# print(img)
# print(img.shape)
color, count = np.unique(img.reshape(-1, img.shape[-1]), axis=0, return_counts=True)

In [9]:
count.shape

(251162,)

In [25]:
color

array([[  0,   1,   0],
       [  0,   1,   2],
       [  0,  10,  15],
       ...,
       [255, 255, 251],
       [255, 255, 253],
       [255, 255, 255]], dtype=uint8)

In [28]:

color_df = pd.DataFrame(color, columns=['R','G','B'])

   R   G   B
0  0   1   0
1  0   1   2
2  0  10  15
3  0  16  57
4  0  18  56

In [31]:
color_df['count'] = count
color_df

          R    G    B  count
0         0    1    0      2
1         0    1    2      1
2         0   10   15      1
3         0   16   57      1
4         0   18   56      1
...     ...  ...  ...    ...
251157  255  255  248     36
251158  255  255  250     85
251159  255  255  251    131
251160  255  255  253    373
251161  255  255  255   3009

[251162 rows x 4 columns]

In [33]:
def rgb_to_hex(r,g,b):
    return ('{:02X}' *3).format(r,g,b)

In [45]:
color_df.iloc[255]['B']

115

In [38]:
rgb_to_hex(color_df.iloc[0]['R'],color_df.iloc[0]['G'],color_df.iloc[0]['B'])

'000100'

In [48]:
rgb_to_hex(color_df.iloc[251161]['R'], color_df.iloc[251161]['G'], color_df.iloc[251161]['B'])

'FFFFFF'